<p id="notice"><%= notice %></p>

<h1>Listing Factoids</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Body</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @factoids.each do |factoid| %>
      <tr>
        <td><%= factoid.summary %></td>
        <td><%= factoid.body %></td>
        <td><%= factoid.note %></td>
        <td><%= link_to 'Show', factoid, :class => 'btn btn-info' %>
        <%= link_to 'Edit', edit_factoid_path(factoid), :class => 'btn btn-primary' %>
        <%= link_to 'Destroy', factoid, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factoid', new_factoid_path, :class => 'btn btn-primary' %>


