<p id="notice"><%= notice %></p>

<h1>Listing Factoids</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Body</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factoids.each do |factoid| %>
      <tr>
        <td><%= factoid.summary %></td>
        <td><%= factoid.body %></td>
        <td><%= factoid.note %></td>
        <td><%= link_to 'Show', factoid %></td>
        <td><%= link_to 'Edit', edit_factoid_path(factoid) %></td>
        <td><%= link_to 'Destroy', factoid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factoid', new_factoid_path %>
