<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @factoid.summary %>
</p>

<p>
  <strong>Body:</strong><br/>
  <%= @factoid.body %>
</p>

<p>
  <strong>Note:</strong><br/>
  <%= @factoid.note %>
</p>

<%= link_to 'Edit', edit_factoid_path(@factoid), :class => 'btn btn-primary' %>
<%= link_to 'Back', factoids_path, :class => 'btn btn-info'  %>
